//Primary colors

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

//  Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

// Error message

$red: hsl(0, 100%, 50%);
//Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);
//Hover

$hover-col: #8c8eff;
//font-family

$ff-sans: "Open Sans", sans-serif;
$ff-raleway: "Raleway", sans-serif;
//font weights

$fw-regular: 400;
$ff-bold: 700;
